<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.dao.MajorMapper">
    <select id="selectAll" resultType="major">
        SELECT *
        FROM major
    </select>
    <select id="selectMajorById" resultType="major">
        SELECT *
        FROM major
        WHERE id = #{id}
    </select>

    <insert id="insertMajor" parameterType="major">
        INSERT INTO major
            VALUE (#{id}, #{name})
    </insert>

    <update id="updateMajor" parameterType="major">
        UPDATE major
        SET name = #{name}
        WHERE id = #{id}
    </update>

    <delete id="deleteMajorById" parameterType="int">
        DELETE
        FROM major
        WHERE id = #{id}
    </delete>
</mapper>